<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859592733394-e0h84d3n6il11f4ar814v758jitcpq7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859592733394-e0h84d3n6il11f4ar814v758jitcpq7h</string>
	<key>API_KEY</key>
	<string>AIzaSyCF8WSck4p793ZjWETvvfiQ7EXng8FTmMM</string>
	<key>GCM_SENDER_ID</key>
	<string>859592733394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.numahealth.app</string>
	<key>PROJECT_ID</key>
	<string>numa-app-34ede</string>
	<key>STORAGE_BUCKET</key>
	<string>numa-app-34ede.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859592733394:ios:4368fec253680f1f2fb30b</string>
</dict>
</plist>